@tailwind base;
@tailwind components;
@tailwind utilities;

.w-128 {
  width: 32rem;
}

body {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

body::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.show-enter-active {
  animation: showIn 0.5s;
}

.show-leave-active {
  /* animation: showOut 0.5s; */
}

@keyframes showIn {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}

@keyframes showOut {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(100%, 0);
  }
}
